In [1]:
import model_predict as mp
mmp = mp.ModelPredict()

총 2 개의 모델이 있습니다.
['models/1213_8_RF_87.pkl', 'models/1213_8_RF_oversampling_92.pkl']

In [2]:
mmp.info_df

                                                 path                     name
0                 ../sound_files/dog/2-122104-B-0.wav             2-122104-B-0
1                ../sound_files/bird/2-72547-C-14.wav             2-72547-C-14
2               ../sound_files/bird/3-181132-A-14.wav            3-181132-A-14
3                     ../sound_files/bird/bird025.wav                  bird025
4                       ../sound_files/cat/cat_10.wav                   cat_10
..                                                ...                      ...
467  ../sound_files/shout/parkseongyoung_shout_86.wav  parkseongyoung_shout_86
468  ../sound_files/shout/parkseongyoung_shout_87.wav  parkseongyoung_shout_87
469  ../sound_files/shout/parkseongyoung_shout_89.wav  parkseongyoung_shout_89
470   ../sound_files/shout/parkseongyoung_shout_9.wav   parkseongyoung_shout_9
471  ../sound_files/shout/parkseongyoung_shout_92.wav  parkseongyoung_shout_92

[472 rows x 2 columns]

In [3]:
count_df = mmp.predict_check_result(end=6)

100%|██████████| 6/6 [00:06<00:00,  1.08s/it]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 88.0의 확률로 'dog' 로 추정됩니다.
----------------
이 소리는 100.0의 확률로 'bird' 로 추정됩니다.
이 소리는 82.0의 확률로 'bird' 로 추정됩니다.
----------------
이 소리는 80.0의 확률로 'bird' 로 추정됩니다.
이 소리는 86.0의 확률로 'bird' 로 추정됩니다.
----------------
이 소리는 80.0의 확률로 'bird' 로 추정됩니다.
이 소리는 90.0의 확률로 'bird' 로 추정됩니다.
----------------
이 소리는 90.0의 확률로 'cat' 로 추정됩니다.
이 소리는 84.0의 확률로 'cat' 로 추정됩니다.
----------------
이 소리는 80.0의 확률로 'cat' 로 추정됩니다.
이 소리는 80.0의 확률로 'cat' 로 추정됩니다.
----------------
'2-122104-B-0' 은 89.0% 의 확률로 dog로 추정 됩니다.
'2-72547-C-14' 은 90.99999999999999% 의 확률로 bird로 추정 됩니다.
'3-181132-A-14' 은 83.0% 의 확률로 bird로 추정 됩니다.
'bird025' 은 85.00000000000001% 의 확률로 bird로 추정 됩니다.
'cat_10' 은 87.0% 의 확률로 cat로 추정 됩니다.
'cat_100' 은 80.0% 의 확률로 cat로 추정 됩니다.

## json 만들기

In [29]:
import pandas as pd
o_data = pd.read_csv("../sound_files/RF_accuracy100_prob_over80.csv")
o_data.drop(['Unnamed: 0', 'max_score'], axis=1, inplace=True)
o_data.set_index(['name'], inplace=True)
o_data

                         label  bird  cat  clap  dog  drum  horse  lion  shout
name
hanseungsu_bird_1         bird    85    5     0    0     5      0     0      5
hanseungsu_bird_104       bird    95    0     0    0     0      0     0      0
hanseungsu_bird_108       bird    90    0     0    0    10      0     0      0
hanseungsu_bird_118       bird    80    5     5    0     0      0     5      0
hanseungsu_bird_18        bird    90    5     0    0     0      0     0      0
...                        ...   ...  ...   ...  ...   ...    ...   ...    ...
parkseongyoung_shout_86  shout     0    5     0    5     0      0     0     90
parkseongyoung_shout_87  shout     0    5     0    0     0      0     0     95
parkseongyoung_shout_89  shout     0    0     0    0     0      0     0    100
parkseongyoung_shout_9   shout     5    0     0    5     0     10     0     80
parkseongyoung_shout_92  shout     0    0     0    0     0      0     5     95

[476 rows x 9 columns]

In [43]:
song_ls = [
"cat_33",
"hanseungsu_dog_84",
"cat_38",
"2-122104-B-0",
"2-122104-B-0", 
"dog_barking_9", 
"dog_barking_9", 
"cat_7", 
"dog_barking_3", 
"dog_barking_8", 
"dog_barking_10",
"dog_barking_10",
"cat_10",
"dog_barking_4",
"cat_64"
]

In [44]:
target_df = o_data.loc[song_ls]
# target_df.reset_index(inplace=True)
target_df

                   bird  cat  clap  dog  drum  horse  lion  shout
name
cat_33                0   90     0    5     0      0     0      0
hanseungsu_dog_84     5    5     5   80     5      0     0      0
cat_38                0   90     0    5     0      0     0      0
2-122104-B-0          0    0     0   90     0      0     5      0
2-122104-B-0          0    0     0   90     0      0     5      0
dog_barking_9         5   10     0   80     0      0     0      5
dog_barking_9         5   10     0   80     0      0     0      5
cat_7                 0   90     5    0     0      0     0      0
dog_barking_3         5   15     0   80     0      0     5      0
dog_barking_8         0   15     0   80     0      5     0      0
dog_barking_10        0    0     0   95     0      0     0      5
dog_barking_10        0    0     0   95     0      0     0      5
cat_10                5   85     0    0     0      5     0      0
dog_barking_4         0    0     0  100     0      0     0      0
cat_64                0   95     0    0     0      0     0      0

In [49]:
total = []
a_ls = target_df.columns.tolist()

for i in range(len(target_df)):
    row = target_df.iloc[i].tolist()
    new = []
    for idx in range(len(a_ls)):
        new.append([f"{a_ls[idx]}", f"{float(row[idx])}"])
    total.append(new)
total

[[['bird', '0.0'],
  ['cat', '90.0'],
  ['clap', '0.0'],
  ['dog', '5.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '0.0']],
 [['bird', '5.0'],
  ['cat', '5.0'],
  ['clap', '5.0'],
  ['dog', '80.0'],
  ['drum', '5.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '0.0']],
 [['bird', '0.0'],
  ['cat', '90.0'],
  ['clap', '0.0'],
  ['dog', '5.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '0.0']],
 [['bird', '0.0'],
  ['cat', '0.0'],
  ['clap', '0.0'],
  ['dog', '90.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '5.0'],
  ['shout', '0.0']],
 [['bird', '0.0'],
  ['cat', '0.0'],
  ['clap', '0.0'],
  ['dog', '90.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '5.0'],
  ['shout', '0.0']],
 [['bird', '5.0'],
  ['cat', '10.0'],
  ['clap', '0.0'],
  ['dog', '80.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '5.0']],
 [['bird', '5.0'],
  ['cat', '10.0'],
  ['clap', '0.0'],
  ['dog', '80.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '5.0']],
 [['bird', '0.0'],
  ['cat', '90.0'],
  ['clap', '5.0'],
  ['dog', '0.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '0.0']],
 [['bird', '5.0'],
  ['cat', '15.0'],
  ['clap', '0.0'],
  ['dog', '80.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '5.0'],
  ['shout', '0.0']],
 [['bird', '0.0'],
  ['cat', '15.0'],
  ['clap', '0.0'],
  ['dog', '80.0'],
  ['drum', '0.0'],
  ['horse', '5.0'],
  ['lion', '0.0'],
  ['shout', '0.0']],
 [['bird', '0.0'],
  ['cat', '0.0'],
  ['clap', '0.0'],
  ['dog', '95.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '5.0']],
 [['bird', '0.0'],
  ['cat', '0.0'],
  ['clap', '0.0'],
  ['dog', '95.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '5.0']],
 [['bird', '5.0'],
  ['cat', '85.0'],
  ['clap', '0.0'],
  ['dog', '0.0'],
  ['drum', '0.0'],
  ['horse', '5.0'],
  ['lion', '0.0'],
  ['shout', '0.0']],
 [['bird', '0.0'],
  ['cat', '0.0'],
  ['clap', '0.0'],
  ['dog', '100.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '0.0']],
 [['bird', '0.0'],
  ['cat', '95.0'],
  ['clap', '0.0'],
  ['dog', '0.0'],
  ['drum', '0.0'],
  ['horse', '0.0'],
  ['lion', '0.0'],
  ['shout', '0.0']]]

In [ ]:
total

In [50]:
import json

with open("sound_1_34.json", "w") as json_file:
    json.dump(total, json_file, indent=True)

In [30]:
song_df = pd.read_csv("../sound_files/mp4_list.csv", encoding='utf-8')
song_df.drop(['No.'], axis=1, inplace=True)
song_df.set_index(['음원 이름'], inplace=True)
song_df.tail()

                       최종 mp4 이름  label
음원 이름
hanseungsu_horse_21      horse_4  horse
parkseongyoung_lion_1     lion_1   lion
parkseongyoung_lion_6     lion_2   lion
parkseongyoung_lion_7     lion_3   lion
parkseongyoung_lion_13    lion_4   lion

In [34]:
cat_df = o_data[o_data['label']=='dog']
cat_df

                  label  bird  cat  clap  dog  drum  horse  lion  shout
name
hanseungsu_dog_84   dog     5    5     5   80     5      0     0      0
junghaeun_dog_20    dog     0    5     0   80     0      0     0     10
junghaeun_dog_68    dog     0    0     5   80     0      0    10      0
junghaeun_dog_71    dog     5    0     0   85     0      5     0      5
junghaeun_dog_85    dog     0    0     0   95     0      0     0      0
...                 ...   ...  ...   ...  ...   ...    ...   ...    ...
dog_barking_9       dog     5   10     0   80     0      0     0      5
dog_barking_91      dog     0    0     0   90     0      0     0      5
dog_barking_92      dog     0    0     0   90     0      0     0      5
dog_barking_96      dog     0    0     0   90     5      0     0      0
dog_barking_97      dog     0    0     0   90     0      0     5      5

[67 rows x 9 columns]

In [ ]:
do_df = o_data[o_data['label']=='cat']
cat_df

In [88]:
a_ls

['label', 'bird', 'cat', 'clap', 'dog', 'drum', 'horse', 'lion', 'shout']

In [35]:
song_ls = cat_df.index[:10]
for idx, song in enumerate(song_ls):
    mmp.predict_check_result(song)
    
#     try:
#         os.rename(f"{path}{song}.json", f"{path}{song_ls[idx]}_1.json")
#     except:
#         pass

100%|██████████| 1/1 [00:02<00:00,  2.61s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 70.0의 확률로 'dog' 로 추정됩니다.
이 소리는 86.0의 확률로 'dog' 로 추정됩니다.
----------------
'hanseungsu_dog_84' 은 78.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.94it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'dog' 로 추정됩니다.
이 소리는 76.0의 확률로 'dog' 로 추정됩니다.
----------------
'junghaeun_dog_20' 은 78.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:02<00:00,  2.05s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'dog' 로 추정됩니다.
이 소리는 82.0의 확률로 'dog' 로 추정됩니다.
----------------
'junghaeun_dog_68' 은 81.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.12it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 78.0의 확률로 'dog' 로 추정됩니다.
----------------
'junghaeun_dog_71' 은 84.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.83s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'dog' 로 추정됩니다.
이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
----------------
'junghaeun_dog_85' 은 95.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.31it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 70.0의 확률로 'dog' 로 추정됩니다.
----------------
'junghaeun_dog_95' 은 80.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.26it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'dog' 로 추정됩니다.
이 소리는 86.0의 확률로 'dog' 로 추정됩니다.
----------------
'junghaeun_dog_96' 은 93.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.54s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 66.0의 확률로 'dog' 로 추정됩니다.
----------------
'junghaeun_dog_98' 은 78.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.33s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'dog' 로 추정됩니다.
이 소리는 76.0의 확률로 'dog' 로 추정됩니다.
----------------
'leehyein_dog_10' 은 78.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.18s/it]

이 소리는 80.0의 확률로 'dog' 로 추정됩니다.
이 소리는 82.0의 확률로 'dog' 로 추정됩니다.
----------------
'leehyein_dog_29' 은 81.0% 의 확률로 dog로 추정됩니다.

In [25]:
song_ls = song_df.index.tolist()[15:]
mp4_ls = song_df['최종 mp4 이름'].tolist()[15:]
a_ls = ['bird', 'cat', 'clap', 'dog', 'drum', 'horse', 'lion', 'shout']

# total = [] #쌓기코드

for idx, song in enumerate(song_ls):
    new = []
    row = o_data.drop('label',axis=1).loc[song]
    for idx in range(len(a_ls)):
        new.append([f"{a_ls[idx]}", f"{float(row[idx])}"])
#     total.append(new) #쌓기코드
    
    with open(f"../json/{mp4_ls[idx]}.json", "w") as json_file:
        json.dump(new, json_file, indent=True)

NameError: name 'song_df' is not defined

In [97]:
mp4_ls

['bird_1',
 'bird_2',
 'bird_3',
 'bird_4',
 'bird_5',
 'bird_6',
 'bird_7',
 'bird_8',
 'dog_1',
 'dog_2',
 'dog_3',
 'dog_4',
 'drum_1',
 'drum_2',
 'drum_3',
 'drum_4',
 'cat_1',
 'cat_2',
 'cat_3',
 'clap_1',
 'clap_2',
 'clap_3',
 'clap_4',
 'shout_1',
 'shout_2',
 'shout_3',
 'shout_4',
 'horse_1',
 'horse_2',
 'horse_3',
 'horse_4',
 'lion_1',
 'lion_2',
 'lion_3',
 'lion_4']

In [2]:
none_df = mmp.predict_check_result("none")

100%|██████████| 1/1 [00:02<00:00,  2.48s/it]

이 소리는 40.0의 확률로 'bird' 로 추정됩니다.
이 소리는 38.0의 확률로 'drum' 로 추정됩니다.
----------------
'none' 은 37.0% 의 확률로 bird로 추정됩니다.

In [3]:
none_df

      bird   cat  clap   dog  drum  horse  lion  shout
name
none  0.37  0.06  0.12  0.09  0.24   0.11  0.01    0.0

In [11]:
none_df.iloc[0]

bird     0.37
cat      0.06
clap     0.12
dog      0.09
drum     0.24
horse    0.11
lion     0.01
shout    0.00
Name: none, dtype: float64

In [13]:
a_ls = ['bird', 'cat', 'clap', 'dog', 'drum', 'horse', 'lion', 'shout']

In [20]:
new = []
for idx in range(len(a_ls)):
    new.append([f"{a_ls[idx]}", f"{round(none_df.iloc[0][idx]*100,2)}"])

In [21]:
new

[['bird', '37.0'],
 ['cat', '6.0'],
 ['clap', '12.0'],
 ['dog', '9.0'],
 ['drum', '24.0'],
 ['horse', '11.0'],
 ['lion', '1.0'],
 ['shout', '0.0']]

In [23]:
import json
with open(f"../json/None.json", "w") as json_file:
    json.dump(new, json_file, indent=True)

In [ ]:
for idx, song in enumerate(song_ls):
    new = []
    row = o_data.drop('label',axis=1).loc[song]
    for idx in range(len(a_ls)):
        new.append([f"{a_ls[idx]}", f"{float(row[idx])}"])
#     total.append(new) #쌓기코드
    
    with open(f"../json/{mp4_ls[idx]}.json", "w") as json_file:
        json.dump(new, json_file, indent=True)

In [103]:
mmp.predict_check_result("2-122104-B-0", 1,3)

100%|██████████| 1/1 [00:00<00:00,  1.06it/s]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 88.0의 확률로 'dog' 로 추정됩니다.
----------------
'2-122104-B-0' 은 89.0% 의 확률로 dog로 추정 됩니다.

              bird   cat  clap   dog  drum  horse  lion  shout
name
2-122104-B-0   0.0  0.02   0.0  0.89  0.01    0.0  0.07   0.01

In [7]:
mmp.predict_check_result(start=1,end=3)

100%|██████████| 2/2 [00:01<00:00,  1.03it/s]

이 소리는 82.0의 확률로 'bird' 로 추정됩니다.
이 소리는 100.0의 확률로 'bird' 로 추정됩니다.
----------------
이 소리는 86.0의 확률로 'bird' 로 추정됩니다.
이 소리는 80.0의 확률로 'bird' 로 추정됩니다.
----------------
'2-72547-C-14' 은 91.0% 의 확률로 bird로 추정됩니다.
'3-181132-A-14' 은 83.0% 의 확률로 bird로 추정됩니다.

               bird   cat  clap   dog  drum  horse  lion  shout
name
2-72547-C-14   0.91  0.01  0.04  0.00  0.03   0.01   0.0    0.0
3-181132-A-14  0.83  0.08  0.00  0.05  0.02   0.02   0.0    0.0

In [4]:
mmp.predict_check_result(start=1,end=3)

100%|██████████| 2/2 [00:01<00:00,  1.03it/s]

이 소리는 100.0의 확률로 'bird' 로 추정됩니다.
이 소리는 82.0의 확률로 'bird' 로 추정됩니다.
----------------
이 소리는 80.0의 확률로 'bird' 로 추정됩니다.
이 소리는 86.0의 확률로 'bird' 로 추정됩니다.
----------------
'2-72547-C-14' 은 91.0% 의 확률로 bird로 추정됩니다.
'3-181132-A-14' 은 83.0% 의 확률로 bird로 추정됩니다.

               bird   cat  clap   dog  drum  horse  lion  shout
name
2-72547-C-14   0.91  0.01  0.04  0.00  0.03   0.01   0.0    0.0
3-181132-A-14  0.83  0.08  0.00  0.05  0.02   0.02   0.0    0.0

In [4]:
import pandas as pd
song_df = pd.read_excel("../files/영상_리스트_작성요청.xlsx")
song_df

              title                  o_name  s_time  e_time
0   ai_best_final_0                  cat_33     0.5     4.0
1   ai_best_final_1       hanseungsu_dog_84     2.0    11.5
2   ai_best_final_2                  cat_38     0.5     5.5
3   ai_best_final_3            2-122104-B-0     0.5     4.0
4   ai_best_final_4            2-122104-B-0     0.5     4.0
..              ...                     ...     ...     ...
58          horse_4     hanseungsu_horse_21     1.0     2.0
59           lion_1   parkseongyoung_lion_1     1.0     2.0
60           lion_2   parkseongyoung_lion_6     1.0     6.0
61           lion_3   parkseongyoung_lion_7     1.0     4.0
62          lion_04  parkseongyoung_lion_13     1.0     3.0

[63 rows x 4 columns]

In [17]:
song_ls = song_df.dropna(axis=0)['o_name'].tolist()

In [18]:
real_ls = song_df.dropna(axis=0)['title'].tolist()

In [26]:
song_ls

['cat_33',
 'hanseungsu_dog_84',
 'cat_38',
 '2-122104-B-0',
 '2-122104-B-0',
 'dog_barking_9',
 'dog_barking_9',
 'cat_7',
 'dog_barking_3',
 'dog_barking_10',
 'dog_barking_10',
 'cat_10',
 'dog_barking_4',
 'cat_64',
 'parkseongyoung_bird_74',
 '3-181132-A-14',
 'hanseungsu_bird_1',
 'hanseungsu_bird_18',
 'hanseungsu_bird_74',
 'hanseungsu_bird_75',
 'hanseungsu_bird_104',
 'dog_barking_26',
 'dog_barking_29',
 'dog_barking_50',
 'dog_barking_51',
 'drum019',
 'drum020',
 'drum029',
 'drum054',
 'cat_18',
 'cat_31',
 'cat_33',
 'hanseungsu_clap_21',
 'hanseungsu_clap_23',
 'hanseungsu_clap_45',
 'hanseungsu_clap_46',
 'hanseungsu_shout_16',
 'hanseungsu_shout_20',
 'hanseungsu_shout_36',
 'hanseungsu_shout_62',
 'hanseungsu_horse_9',
 'hanseungsu_horse_12',
 'hanseungsu_horse_13',
 'hanseungsu_horse_21',
 'parkseongyoung_lion_1',
 'parkseongyoung_lion_6',
 'parkseongyoung_lion_7',
 'parkseongyoung_lion_13']

In [20]:
len(real_ls), len(song_ls)

(48, 48)

In [25]:
for idx, song in enumerate(song_ls):
    mmp.predict_check_result(song)
    try:
        os.rename(f"{path}{song}.json", f"{path}{real_ls[idx]}_1.json")
    except:
        pass

100%|██████████| 1/1 [00:00<00:00,  1.51it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'cat' 로 추정됩니다.
이 소리는 80.0의 확률로 'cat' 로 추정됩니다.
----------------
'cat_33' 은 90.0% 의 확률로 cat로 추정됩니다.

100%|██████████| 1/1 [00:02<00:00,  2.59s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 70.0의 확률로 'dog' 로 추정됩니다.
이 소리는 86.0의 확률로 'dog' 로 추정됩니다.
----------------
'hanseungsu_dog_84' 은 78.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.01it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'cat' 로 추정됩니다.
이 소리는 88.0의 확률로 'cat' 로 추정됩니다.
----------------
'cat_38' 은 89.0% 의 확률로 cat로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.08it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 88.0의 확률로 'dog' 로 추정됩니다.
----------------
'2-122104-B-0' 은 89.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.09it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 88.0의 확률로 'dog' 로 추정됩니다.
----------------
'2-122104-B-0' 은 89.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  3.55it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 70.0의 확률로 'dog' 로 추정됩니다.
이 소리는 88.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_9' 은 79.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  3.43it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 70.0의 확률로 'dog' 로 추정됩니다.
이 소리는 88.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_9' 은 79.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.83s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'cat' 로 추정됩니다.
이 소리는 94.0의 확률로 'cat' 로 추정됩니다.
----------------
'cat_7' 은 92.0% 의 확률로 cat로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.86it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 66.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_3' 은 78.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  2.50it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'dog' 로 추정됩니다.
이 소리는 88.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_10' 은 94.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  2.56it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'dog' 로 추정됩니다.
이 소리는 88.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_10' 은 94.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.40s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'cat' 로 추정됩니다.
이 소리는 84.0의 확률로 'cat' 로 추정됩니다.
----------------
'cat_10' 은 87.0% 의 확률로 cat로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.09s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'dog' 로 추정됩니다.
이 소리는 98.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_4' 은 99.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.88s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'cat' 로 추정됩니다.
이 소리는 92.0의 확률로 'cat' 로 추정됩니다.
----------------
'cat_64' 은 96.0% 의 확률로 cat로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.15s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'bird' 로 추정됩니다.
이 소리는 76.0의 확률로 'bird' 로 추정됩니다.
----------------
'parkseongyoung_bird_74' 은 83.0% 의 확률로 bird로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.09it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'bird' 로 추정됩니다.
이 소리는 86.0의 확률로 'bird' 로 추정됩니다.
----------------
'3-181132-A-14' 은 83.0% 의 확률로 bird로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.69s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'bird' 로 추정됩니다.
이 소리는 94.0의 확률로 'bird' 로 추정됩니다.
----------------
'hanseungsu_bird_1' 은 87.0% 의 확률로 bird로 추정됩니다.

100%|██████████| 1/1 [00:02<00:00,  2.62s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'bird' 로 추정됩니다.
이 소리는 78.0의 확률로 'bird' 로 추정됩니다.
----------------
'hanseungsu_bird_18' 은 89.0% 의 확률로 bird로 추정됩니다.

100%|██████████| 1/1 [00:02<00:00,  2.35s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'bird' 로 추정됩니다.
이 소리는 88.0의 확률로 'bird' 로 추정됩니다.
----------------
'hanseungsu_bird_74' 은 89.0% 의 확률로 bird로 추정됩니다.

100%|██████████| 1/1 [00:02<00:00,  2.46s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'bird' 로 추정됩니다.
이 소리는 90.0의 확률로 'bird' 로 추정됩니다.
----------------
'hanseungsu_bird_75' 은 90.0% 의 확률로 bird로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.83s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'bird' 로 추정됩니다.
이 소리는 94.0의 확률로 'bird' 로 추정됩니다.
----------------
'hanseungsu_bird_104' 은 97.0% 의 확률로 bird로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.36s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'dog' 로 추정됩니다.
이 소리는 86.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_26' 은 83.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.04s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'dog' 로 추정됩니다.
이 소리는 96.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_29' 은 98.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  2.48it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'dog' 로 추정됩니다.
이 소리는 100.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_50' 은 100.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.64it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'dog' 로 추정됩니다.
이 소리는 92.0의 확률로 'dog' 로 추정됩니다.
----------------
'dog_barking_51' 은 91.0% 의 확률로 dog로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.31it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'drum' 로 추정됩니다.
이 소리는 98.0의 확률로 'drum' 로 추정됩니다.
----------------
'drum019' 은 99.0% 의 확률로 drum로 추정됩니다.

100%|██████████| 1/1 [00:03<00:00,  3.51s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'drum' 로 추정됩니다.
이 소리는 96.0의 확률로 'drum' 로 추정됩니다.
----------------
'drum020' 은 93.0% 의 확률로 drum로 추정됩니다.

100%|██████████| 1/1 [00:03<00:00,  3.80s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'drum' 로 추정됩니다.
이 소리는 84.0의 확률로 'drum' 로 추정됩니다.
----------------
'drum029' 은 92.0% 의 확률로 drum로 추정됩니다.

100%|██████████| 1/1 [00:03<00:00,  3.61s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'drum' 로 추정됩니다.
이 소리는 80.0의 확률로 'drum' 로 추정됩니다.
----------------
'drum054' 은 90.0% 의 확률로 drum로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  4.43it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'cat' 로 추정됩니다.
이 소리는 78.0의 확률로 'cat' 로 추정됩니다.
----------------
'cat_18' 은 79.0% 의 확률로 cat로 추정됩니다.

100%|██████████| 1/1 [00:02<00:00,  2.03s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'cat' 로 추정됩니다.
이 소리는 88.0의 확률로 'cat' 로 추정됩니다.
----------------
'cat_31' 은 89.0% 의 확률로 cat로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.50it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'cat' 로 추정됩니다.
이 소리는 80.0의 확률로 'cat' 로 추정됩니다.
----------------
'cat_33' 은 90.0% 의 확률로 cat로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.24it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'clap' 로 추정됩니다.
이 소리는 84.0의 확률로 'clap' 로 추정됩니다.
----------------
'hanseungsu_clap_21' 은 87.0% 의 확률로 clap로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.76s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'clap' 로 추정됩니다.
이 소리는 90.0의 확률로 'clap' 로 추정됩니다.
----------------
'hanseungsu_clap_23' 은 90.0% 의 확률로 clap로 추정됩니다.

100%|██████████| 1/1 [00:02<00:00,  2.25s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'clap' 로 추정됩니다.
이 소리는 86.0의 확률로 'clap' 로 추정됩니다.
----------------
'hanseungsu_clap_45' 은 83.0% 의 확률로 clap로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.96s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'clap' 로 추정됩니다.
이 소리는 94.0의 확률로 'clap' 로 추정됩니다.
----------------
'hanseungsu_clap_46' 은 97.0% 의 확률로 clap로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.45s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'shout' 로 추정됩니다.
이 소리는 76.0의 확률로 'shout' 로 추정됩니다.
----------------
'hanseungsu_shout_16' 은 83.0% 의 확률로 shout로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.17s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'shout' 로 추정됩니다.
이 소리는 82.0의 확률로 'shout' 로 추정됩니다.
----------------
'hanseungsu_shout_20' 은 86.0% 의 확률로 shout로 추정됩니다.

100%|██████████| 1/1 [00:02<00:00,  2.06s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'shout' 로 추정됩니다.
이 소리는 82.0의 확률로 'shout' 로 추정됩니다.
----------------
'hanseungsu_shout_36' 은 81.0% 의 확률로 shout로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.19s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'shout' 로 추정됩니다.
이 소리는 84.0의 확률로 'shout' 로 추정됩니다.
----------------
'hanseungsu_shout_62' 은 82.0% 의 확률로 shout로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.04s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'horse' 로 추정됩니다.
이 소리는 82.0의 확률로 'horse' 로 추정됩니다.
----------------
'hanseungsu_horse_9' 은 81.0% 의 확률로 horse로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.30it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'horse' 로 추정됩니다.
이 소리는 80.0의 확률로 'horse' 로 추정됩니다.
----------------
'hanseungsu_horse_12' 은 85.0% 의 확률로 horse로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.65s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 80.0의 확률로 'horse' 로 추정됩니다.
이 소리는 78.0의 확률로 'horse' 로 추정됩니다.
----------------
'hanseungsu_horse_13' 은 79.0% 의 확률로 horse로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.49it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'horse' 로 추정됩니다.
이 소리는 84.0의 확률로 'horse' 로 추정됩니다.
----------------
'hanseungsu_horse_21' 은 87.0% 의 확률로 horse로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.90it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'lion' 로 추정됩니다.
이 소리는 92.0의 확률로 'lion' 로 추정됩니다.
----------------
'parkseongyoung_lion_1' 은 96.0% 의 확률로 lion로 추정됩니다.

100%|██████████| 1/1 [00:01<00:00,  1.39s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 100.0의 확률로 'lion' 로 추정됩니다.
이 소리는 74.0의 확률로 'lion' 로 추정됩니다.
----------------
'parkseongyoung_lion_6' 은 87.0% 의 확률로 lion로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.19it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

이 소리는 90.0의 확률로 'lion' 로 추정됩니다.
이 소리는 92.0의 확률로 'lion' 로 추정됩니다.
----------------
'parkseongyoung_lion_7' 은 91.0% 의 확률로 lion로 추정됩니다.

100%|██████████| 1/1 [00:00<00:00,  1.32it/s]

이 소리는 100.0의 확률로 'lion' 로 추정됩니다.
이 소리는 100.0의 확률로 'lion' 로 추정됩니다.
----------------
'parkseongyoung_lion_13' 은 100.0% 의 확률로 lion로 추정됩니다.

In [ ]:
np.unique(song_ls)

In [ ]:
import os
import numpy as np
path = "./jsons/"
for idx, song in enumerate(song_ls):
    try:
        os.rename(f"{path}{song}.json", f"{path}{real_ls[idx]}_1.json")
    except:
        pass

### mp4 to wav test

In [24]:
import subprocess
import glob, sys, os

In [33]:
local_path = "../sound_files/"
video_path = "../sound_files/videos/"
wav_path = "../sound_files/wav_from_videos/"
mp4_ls = [file for file in glob.glob(f'{video_path}*') if file.endswith(".mp4")]
mp4_ls

['../sound_files/videos/cat_neutral1.mp4',
 '../sound_files/videos/cat_sad_11.mp4',
 '../sound_files/videos/drum1.mp4',
 '../sound_files/videos/cat_sad_9.mp4']

In [34]:
for mp4_name in mp4_ls:
    command = "ffmpeg -i {} -ab 160k -ac 2 -ar 44100 -vn {}{}.wav".format(mp4_name, wav_path, os.path.basename(mp4_name)[:-4])
    subprocess.call(command, shell=True)
print([file for file in glob.glob(f'{local_path}*') if file.endswith(".wav")])

['../sound_files/cat_sad_9.wav', '../sound_files/cat_sad_11.wav', '../sound_files/drum1.wav', '../sound_files/cat_neutral1.wav']

In [22]:
print(command)

ffmpeg -i ../sound_files/cat_neutral(1).mp4 -ab 160k -ac 2 -ar 44100 -vn ../sound_files/cat_neutral(1).wav

In [21]:
mp4_name = '../sound_files/cat_neutral(1).mp4'
command = "ffmpeg -i {} -ab 160k -ac 2 -ar 44100 -vn {}.wav".format(mp4_name, mp4_name[:-4])
subprocess.call(command, shell=True)

2